@font-face {
  font-family: myFirstFont;
  src: url(/assets/AbsoluteNeonScript.ttf);
}
.game-result-message {
  font-family: myFirstFont;
  display: block;
  margin-bottom: 50px;
  font-size: 100px;
  color: rgb(35, 212, 0);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #11ff9c,
    0 0 20px #11ff9c81, 0 0 20px #11ff9c9d, 0 0 20px #11ff9c9a;
}
.game-result-message[lose] {
  color: rgb(245, 67, 12);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 10px #ff1177,
    0 0 20px #ff6811, 0 0 20px #ff6811, 0 0 20px #ff6811;
}

body {
  margin: 0;
  background: rgb(140, 52, 255);
  padding: 40px 0 0;
  min-height: 100vh;
  display: block;
  align-content: center;
  text-align: center;
  color: white;
}

#game-screen-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#start-screen input[name='username'] {
  max-width: 200px;
}

.categories-wrapper progress {
  margin: 0 auto;
  max-width: 100px;
}

#keyboard-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.hearts {
  color: rgb(255, 68, 68);
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.time-container {
  text-align: left;
}

#keyboard-wrapper .key-letters-group {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
#keyboard-wrapper .key-letters-group li {
  cursor: pointer;
  width: 30px;
}
#keyboard-wrapper .key-letters-group li[disabled] {
  opacity: 0.5;
}

#phrase-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin: 20px 0 40px;
}

.word-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5px;
}

.word-group li {
  margin: 3px;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid rgb(255, 162, 22);
}

.time-stats p:nth-child(even) {
  margin-bottom: 5px;
  font-weight: bold;
}
.secondary-button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 8px;
  background: rgb(255, 188, 63);
  font-weight: bold;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.loading-bar {
  margin: 40px 0;
}
.loading-bar p {
  margin: 0 0 10px;
}

#game-end-screen .phrase-to-guess {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 22px;
  border-bottom: 3px solid rgb(255, 187, 59);
}
