body {
  margin: 0;
  background: rgb(140, 52, 255);
  padding: 40px 0 0;
  min-height: 100vh;
  display: block;
  align-content: center;
  text-align: center;
  color: white;
}

#game-screen-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#keyboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  min-width: 300px;
  margin: 40px auto 0;
}

#keyboard-wrapper .letter {
  /* border: 1px solid rgba(143, 143, 143, 0.384); */
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  width: 60px;
}

#phrase-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin-top: 20px;
}

.phrase-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5px;
}

.phrase-group li {
  margin: 0 3px;
  width: 30px;
  border-bottom: 2px solid rgb(255, 162, 22);
}

/* #playing-screen {
  display: none;
} */

.loading-bar {
  margin: 40px 0;
}
.loading-bar p {
  margin: 0 0 10px;
}
